$primary-color: #6482aa;
$secondary-color: #00b0f0;
$navbar-color: #333;
$text-color: #ffffff;
$footer-background-color: #808080;
$navbar-active-background-color: transparent;
$footer-border-right: 1px solid #f8f8f8;
$searchresults-border-color: #D3D3D3;
$theprocess-line-color: black;
$icon-color: #333;