$primary-color: #6482aa;
$secondary-color: #00b0f0;
$navbar-color: #333;
$text-color: #ffffff;
$footer-background-color: #808080;
$navbar-active-background-color: transparent;
$border-color-1px: 1px solid #f8f8f8;
$border-color-5px: 5px solid #C0C0C0;
$searchresults-border-color: #333;
$theprocess-line-color: black;
$icon-color: #333;
$bookingconfirmation-border-color: #ccc;
$error-text-color: #a94442;