@import 'footer';
@import 'navbar';

.bottom-buffer {
    padding-bottom: 15px;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
}

.p-t-51 {
    padding-top: 51px;
}

.img-thumbnail {
    width: 100%;
}

.container-about {
    padding-bottom: 30px;
}

.row.search-bar {
    padding-top: 20px;
}
