.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d231b;
    height: 100%;
    color: #FFF;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 100%;
    color: #3d231b;
}
