<div class="container mbot80">
    <h1 class="page-header"><strong>HomeMyDay</strong></h1>
    <div class="row m-b-25 text-center">
        <h2><strong>Just be sure</strong></h2>
    </div>
    <div class="row m-b-25 text-center">
        <h3><Strong>Wij hebben drie basiszekerheden die voor iedereen gelden!</Strong></h3>
    </div>
    <div class="col-md-12 m-b-45">
        <div class="col-md-4 border-right p-l-50 p-r-50">
            <h1 class="text-center"><strong>Safe</strong></h1>
            <div class="row">
                <strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est dui, hendrerit sed imperdiet a, laoreet vitae lacus. Nulla fringilla dictum dui, sit amet scelerisque lorem eleifend a. Curabitur consectetur nulla ipsum, ac venenatis metus scelerisque eget. Ut ullamcorper erat est, aliquam euismod dolor sagittis eget. Vivamus eleifend dolor sit amet cursus hendrerit. Proin congue tincidunt mi sit amet commodo. Aliquam dapibus, odio eu fringilla aliquet, ante libero lobortis est, ac pharetra ante tellus maximus enim. Quisque pellentesque faucibus dui, condimentum aliquam nisi mollis eget. Praesent nec faucibus velit.

                </strong>
            </div>
        </div>
        <div class="col-md-4 p-l-50 p-r-50">
            <h1 class="text-center"><strong>Calimiteitenfonds</strong></h1>
            <div class="row">
                <strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est dui, hendrerit sed imperdiet a, laoreet vitae lacus. Nulla fringilla dictum dui, sit amet scelerisque lorem eleifend a. Curabitur consectetur nulla ipsum, ac venenatis metus scelerisque eget. Ut ullamcorper erat est, aliquam euismod dolor sagittis eget. Vivamus eleifend dolor sit amet cursus hendrerit. Proin congue tincidunt mi sit amet commodo. Aliquam dapibus, odio eu fringilla aliquet, ante libero lobortis est, ac pharetra ante tellus maximus enim. Quisque pellentesque faucibus dui, condimentum aliquam nisi mollis eget. Praesent nec faucibus velit.
                </strong>
            </div>
        </div>
        <div class="col-md-4 border-left p-l-50 p-r-50">
            <h1 class="text-center"><strong>Clean</strong></h1>
            <div class="row">
                <strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est dui, hendrerit sed imperdiet a, laoreet vitae lacus. Nulla fringilla dictum dui, sit amet scelerisque lorem eleifend a. Curabitur consectetur nulla ipsum, ac venenatis metus scelerisque eget. Ut ullamcorper erat est, aliquam euismod dolor sagittis eget. Vivamus eleifend dolor sit amet cursus hendrerit. Proin congue tincidunt mi sit amet commodo. Aliquam dapibus, odio eu fringilla aliquet, ante libero lobortis est, ac pharetra ante tellus maximus enim. Quisque pellentesque faucibus dui, condimentum aliquam nisi mollis eget. Praesent nec faucibus velit.
                </strong>
            </div>
        </div>
    </div>
</div>