@using HomeMyDay.Web.Base.ViewModels
@model HomeMyDay.Web.Base.ViewModels.ForgotPasswordViewModel

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-area="" asp-action="ForgotPassword" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Verzend</button>
</form>