@model NewspaperViewModel

<div>
    <img class="header-image" src="~/images/newspaper.png"/>
</div>

<div class="text-center well well-sm center-block newspaper-label">
    <strong>Keep in touch</strong>
</div>

<div class="container newspaper">
    <h3 class="page-header text-center"><strong>Blijf op de hoogte van alle vakantietrends, vlogs en ontwikkelingen bij ons!</strong></h3>
    
    <form asp-controller="Newspaper" asp-action="Subscribe">
        <div class="form-group col-md-4 col-md-offset-4 mtop52">
            <input class="form-control" asp-for="Email" placeholder="vul hier je email adres in" required/>
            <button class="btn btn-primary center-block mtop25" type="submit">Aanmelden</button>
        </div>
    </form>
</div>