@model NewspaperViewModel

<div>
    <img class="header-image img-responsive" src="~/images/newspaper.png" />
</div>

<div class="text-center panel panel-default center-block newspaper-label">
    <div class="panel-body">
        <strong>Keep in touch</strong>
    </div>
</div>

<div class="container newspaper">
    <h3 class="page-header text-center"><strong>Blijf op de hoogte van alle vakantietrends, vlogs en ontwikkelingen bij ons!</strong></h3>
    <form asp-area="" asp-controller="Newspaper" asp-action="Index">
        <div class="row">
            <div class="form-group col-md-4 col-md-offset-4 mtop52">
                @Html.ValidationSummary()
                <input class="form-control" asp-for="Email" placeholder="vul hier je email adres in" required />
                <button class="btn btn-primary center-block mtop25" type="submit">Aanmelden</button>
            </div>
        </div>
    </form>
</div>