@model HomeMyDay.ViewModels.HolidaySearchResultsViewModel

@{
    ViewData["Title"] = "Zoekresultaten";
}


<link rel="stylesheet" type="text/css" href="~/css/search.css" />

<h1>Zoekresultaten</h1>

@Html.Partial("../Partials/SearchTerms.cshtml")

<p>Uw zoekopdracht heeft geen resultaten opgeleverd.</p>