@model HomeMyDay.ViewModels.AccommodationSearchResultsViewModel

@{
    ViewData["Title"] = "Zoekresultaten";
}

<link rel="stylesheet" type="text/css" href="~/css/search.css" />

<h1>Zoekresultaten</h1>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("SearchBar", Model.Search)
    </div>
</div>

<div id="search-results">

    @foreach (Accommodation accommodation in Model.Accommodations)
    {
        <div class="search-result">
            <div class="accommodation-preview">
                <img src="~/images/accommodationplaceholder.jpg" />
                <div class="accommodation-image-text">
                    <h2>@accommodation.Name</h2>
                    <p>@accommodation.Country, @accommodation.Continent</p>
                </div>
            </div>
            <div class="accommodation-info">
                <p>@accommodation.Description</p>

                <p class="price">&euro;@accommodation.Price</p>
            </div>
        </div>
    }

</div>
