<div class="container mtop52 mbot80">
    <h1 class="text-center"><strong>Neem gerust eens contact met ons op</strong></h1>
    <div class="row p-t-51">
        <div class="col-md-4 col-md-offset-3 text-center">
            <div class="row">
                <a href="callto:0612345678">
                    <div class="col-md-1">
                        <i class="fa fa-phone fa-lg icon-color"></i>
                    </div>
                    <div class="col-md-11">
                        <strong>06-17964966</strong>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="mailto:info@homemyday.nl">
                    <div class="col-md-1">
                        <i class="fa fa-envelope icon-color"></i>
                    </div>
                    <div class="col-md-11">
                        <strong>info@homemyday.nl</strong>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-map-pin fa-lg icon-color"></i>
                </div>
                <div class="col-md-11">
                    <strong>Lijsterbesstraat 46</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-commenting fa-lg icon-color"></i>
                </div>
                <div class="col-md-11">
                    <strong>Chat nu live <a href="#">Hier</a></strong>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row p-b-20">
                <strong>
                    Heb jij een vraag?<br/>
                    Klik op onze <a href="#">FAQ</a> pagina
                </strong>
            </div>
            <div class="row p-b-20">
                <strong>
                    Heb jij een klacht of suggestie?<br/>
                    Stuur ons dan een mail naar: <a href="mailto:info@homemyday.nl">info@homemyday.nl</a>
                </strong>
            </div>
            <div class="row p-b-20">
                <strong>
                    Ben jij van de pers?<br/> 
                    Kijk dan eens op onze <a href="#">Pers</a> pagina
                </strong>
            </div>
        </div>
    </div>

    <div class="row p-t-51">
        <div class="text-center">
            <strong>Hou ons bij!</strong>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a class="col-md-4 text-center" href="#"><span><i class="fa fa-facebook fa-3x icon-color"></i></span></a>
            <a class="col-md-4 text-center" href="#"><i class="fa fa-pinterest fa-3x icon-color"></i></a>
            <a class="col-md-4 text-center" href="#"><i class="fa fa-twitter fa-3x icon-color"></i></a>
        </div>
    </div>
</div>