<div class="text-center">
	<div class="row">
		<h3>Verlaat je comfort zone, maar blijft bij het vertrouwde. zoek, boek en ontdekt</h3>
		<div class="col-md-4 pad-45">
			<i class="fa fa-building fa-2x" aria-hidden="true"></i>
			<h4><b>We</b></h4>
			<span>
				zorgen voor de beste prijs-kwaliteit verhouding. En wij zorgen dat je binnen-komt in een schoon en veilig tijdelijk thuis
			</span>
		</div>
		<div class="col-md-4 pad-45">
			<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
			<h4><b>You</b></h4>
			<span>
				Jij hoeft alleen maar te weten waar je heen wilt. Staat het niet op onze site, geen probleem, wij hebben daar een oplossing voor.
			</span>
		</div>
		<div class="col-md-4 pad-45">
			<i class="fa fa-search fa-2x" aria-hidden="true"></i>
			<h4><b>Local</b></h4>
			<span>
				Laat je ontvangen door een warm thuis. Zij hebben de beste tips en tricks om je ervaringen onvergetelijk te maken.
			</span>
		</div>
	</div>
</div>