@model IEnumerable<HomeMyDay.Models.Holiday>

<div class="holiday-feature">
    <div class="row">
        @foreach (var m in Model)
        {
            @Html.Partial("../Partials/RecommendedHolidayPreview", m);
        }
    </div>
</div>