<div class="container">
    <div class="row p-t-51 m-b-20">
        <div class="col-md-12">
            <ul>
                @*<li>
                    <a asp-area="CMS"
                       asp-action="Index"
                       asp-controller="Accommodation">Accommodaties</a>
                </li>*@
                <li>
                    <a asp-area="CMS"
                       asp-action="Index"
                       asp-controller="Pages">Pages</a>
                </li>
                <li>
                    <a asp-area="CMS"
                       asp-action="Index"
                       asp-controller="Review">Reviews</a>
                </li>
                <li>
                    <a asp-area="CMS"
                       asp-action="Index"
                       asp-controller="Vacancy">Vacatures</a>
                </li>
                <li>
                    <a asp-area="CMS"
                       asp-action="Index"
                       asp-controller="Faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</div>