<div class="container mbot80">
    <h1 class="page-header text-center">Auto verhuur</h1>
    <div class="col-md-9 col-sm-12 col-xs-12">

    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        
    </div>
</div>