@model HomeMyDay.ViewModels.InsuranceFormViewModel

<div class="container">
    <form id="insurance-form" asp-action="InsuranceForm" method="post">
        <h2>Extra bij te boeken</h2>

        <div class="form-group">
            <input asp-for="InsuranceService" />
            <label asp-for="InsuranceService"></label>
        </div>

        <div class="form-group">
            <input asp-for="InsuranceExplore" />
            <label asp-for="InsuranceExplore"></label>
        </div>

        <div class="form-group">
            <input asp-for="TransferFromAirport" />
            <label asp-for="TransferFromAirport"></label>
        </div>

        <div class="form-group">
            <input asp-for="TransferToAirport" />
            <label asp-for="TransferToAirport"></label>
        </div>

        <hr />

        <h2>Verzekering</h2>

        <p>Het laatste wat je wilt, is je reis annuleren en niets terug krijgen.</p>

        <div class="form-group">
            <input asp-for="InsuranceCancellationBasic" />
            <label asp-for="InsuranceCancellationBasic"></label>
        </div>

        <div class="form-group">
            <input asp-for="InsuranceCancellationAllRisk" />
            <label asp-for="InsuranceCancellationAllRisk"></label>
        </div>

        <hr />

        <h2>Reisverzekering <a target="_blank" asp-controller="Booking" asp-action="InsuranceTerms">(voorwaarden)</a></h2>

        @foreach (string type in Enum.GetNames(typeof(InsuranceType)))
        {
            <div class="form-group">
                <input name="travelinsurance_type" type="radio" value="@type" />
                <label>@type</label>
            </div>
        }

        <hr />

        <div id="insurance-prices">
            <table>
                <thead>
                    <tr>
                        <th>Voor:</th>
                        <th>Prijs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Poliskosten</td>
                        <td>&euro;...</td>
                    </tr>
                    <tr>
                        <td>Assurantiebelasting</td>
                        <td>&euro;...</td>
                    </tr>
                    <tr>
                        <td>Boekingskosten</td>
                        <td>&euro;...</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <input type="submit" value="Naar bevestiging" class="btn btn-primary" />
        </div>

    </form>
</div>