img.logo {
    width: 40%;
}

.footer {
    background-color: #808080;
}

    .footer h2, a, address {
        color: #ffffff;
        display: block;
    }

    .footer h2 {
        text-decoration: underline;
    }

.border-right {
    border-right: 1px solid #f8f8f8;
}

.bottom-buffer {
    padding-bottom: 15px;
}

.row.equal {
    display: flex;
    flex-wrap: wrap;
}
