@*@Html.Partial("../Partials/HomeVideo", "https://www.youtube.com/embed/1_5n1EfcWyM?autoplay=1&loop=1&showinfo=0&controls=0&playlist=1_5n1EfcWyM")

<div class="container">
    <div class="row search-bar">
        @await Component.InvokeAsync("SearchBar")
    </div>
</div>

<div class="container">
    <div class="row">
        @Html.Partial("../Partials/HomeAbout")
    </div>
</div>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("RecommendedHoliday")
    </div>
</div>

<div id="howitworks">
    @Html.Partial("../Partials/HomeVideo", "https://www.youtube.com/embed/j5hQrpt0Mdc?autoplay=1&loop=1&showinfo=0&controls=0&playlist=j5hQrpt0Mdc")
</div>

<div class="container mtop80 mbot80">
    <div class="row" id="theprocess">
        @Html.Partial("../Partials/TheProcess")
    </div>
</div>

@await Component.InvokeAsync("PopupLogin")*@

<div class="full-height full-width">
    @await Component.InvokeAsync("PurchaseSummary")
</div>