
<div class="row full-width-row">
    <div class="large-12 columns active full-width-column">

        <nav class="top-bar" data-topbar>
            <ul class="title-area">

                <li class="name">
                    <h1><a href="#">Top Bar Title</a></h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
                <ul class="right">
                    <li class="search">
                        <form>
                            <input type="search">
                        </form>
                    </li>
                    <li class="has-button">
                        <a class="small button" href="#">Search</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</div>

<div class="row full-width-row top-video">
    <div class="large-12 columns full-width-column">

        <div class="hide-for-small">
            <div id="featured">
                <img class="slide-video" alt="slide image" src="https://placehold.it/1000x400&amp;text=Slide%20Image">
            </div>
        </div>

        <div class="row">
            <div class="small-12 show-for-small">
                <br>
                <img class="slide-video" src="https://placehold.it/1000x600&amp;text=For%20Small%20Screens">
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="large-12 columns">
        <div class="row">

            <div class="large-3 small-6 columns">
                <img src="https://placehold.it/250x250&amp;text=Thumbnail">
                <h6 class="panel">Description</h6>
            </div>
            <div class="large-3 small-6 columns">
                <img src="https://placehold.it/250x250&amp;text=Thumbnail">
                <h6 class="panel">Description</h6>
            </div>
            <div class="large-3 small-6 columns">
                <img src="https://placehold.it/250x250&amp;text=Thumbnail">
                <h6 class="panel">Description</h6>
            </div>
            <div class="large-3 small-6 columns">
                <img src="https://placehold.it/250x250&amp;text=Thumbnail">
                <h6 class="panel">Description</h6>
            </div>
        </div>
    </div>
</div>