@model HomeMyDay.ViewModels.VacancieViewModel

<div class="container">
    <h1 class="page-header">Onze Vacatures</h1>ss
    <div class="col-lg-12">
        <div class="col-lg-8">

                <div class="vacancy-block">
                    <h3>@Model.JobTitle</h3>
                    <p>@Model.Company</p>
                    <span class="gray">@Model.City</span>
                </div>

        </div>
        <div class="col-lg-4">
            <div class="">
                <h3>Vacature Samenvatting</h3>
            </div>
        </div>
    </div>
</div>