<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div class="form-control">
        <label for="newpassword">Nieuw wachtwoord:</label>
        <input type="password" id="newpassword" />
    </div>
    <div class="form-control">
        <label for="newpasswordconfirmation">Herhaal nieuw wachtwoord</label>
        <input type="password" id="newpasswordconfirmation" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Reset wachtwoord
    </button>
</form>