@model ResetPasswordViewModel

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div class="form-control">
        @Html.LabelFor(x => x.NewPassword);
        @Html.PasswordFor(x => x.NewPassword);
    </div>
    <div class="form-control">
        @Html.LabelFor(x => x.NewPasswordConfirmation);
        @Html.PasswordFor(x => x.NewPasswordConfirmation);
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Reset wachtwoord
    </button>
</form>