<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Informatie</h2>
            <ul>
                <li>
                    <a>Garanties</a>
                </li>
                <li>
                    <a asp-controller="Review" asp-action="Index">Reviews</a>
                </li>
                <li>
                    <a>Suprise</a>
                </li>
                <li>
                    <a>Informatie pakket</a>
                </li>
                <li>
                    <a asp-controller="Vacancy" asp-action="Index">Werken bij</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h2>Extra's</h2>
            <ul>
                <li>
                    <a asp-controller="Newspaper" asp-action="Index">Nieuwsbrief</a>
                </li>
                <li>
                    <a>Annulerings verzekering</a>
                </li>
                <li>
                    <a>Reisverzekering</a>
                </li>
                <li>
                    <a>Algemene voorwaarden</a>
                </li>
                <li>
                    <a>Juridische aspecten</a>
                </li>
                <li>
                    <a asp-controller="Press" asp-action="Index">Pers en media</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h2>Community</h2>
            <a class="btn btn-default" aria-label="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default" aria-label="Instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default" aria-label="LinkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="btn btn-default" aria-label="Tumblr">
                <i class="fa fa-tumblr" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-sm-3">
            <h2>Contact</h2>
            <ul>
                <li>
                    <a href="callto:31639874819">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        0639874819
                    </a>
                </li>
                <li>
                    <a href="mailto:info@homemyday.nl">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        info@homemyday.nl
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=31681129236">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        0681129236
                    </a>
                </li>
                <li>
                    KvK: 69734410
                </li>
            </ul>
        </div>
    </div>
</div>