<footer class="footer">
    <div class="container">
        <div class="row equal">
            <div class="col-sm-3"></div>

            <div class="col-sm-2 border-right text-center">
                <h2>Informatie</h2>
                <a>Onze garanties</a>
                <a>Reviews</a>
                <a>Verrasing</a>
                <a>Informatie pakket</a>
                <a>Werken bij</a>
            </div>

            <div class="col-sm-2 border-right text-center">
                <h2>Extra's</h2>
                <a>Nieuwsbrief</a>
                <a>Annulerings verzekering</a>
                <a>Reis verzekering</a>
                <a>Algemen voorwaarden</a>
                <a>Juridische aspecten</a>
                <a>Pers en media</a>

            </div>

            <div class="col-sm-2 text-center">
                <h2>Contact</h2>
                <div>
                    <a href="callto:0612345678">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        0612345678
                    </a>
                </div>

                <div>
                    <a href="mailto:info@locallife.nl">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        info@locallife.nl
                    </a>
                </div>

                <div class="bottom-buffer">
                    <address>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Mina Krusemanerf 72<br />
                        3315 GC<br />
                        Dordrecht
                    </address>
                </div>
            </div>

            <div class="col-sm-3"></div>

        </div>
    </div>
</footer>