<footer>
    <div class="container">

        <div class="col-lg-1 col-sm-1"></div>

        <div class="col-lg-3 col-sm-3 border-right">
            <h2>Informatie</h2>
            <a>Onze garanties</a>
            <a>Reviews</a>
            <a>Verrasing</a>
            <a>Informatie pakket</a>
            <a>Werken bij</a>
        </div>

        <div class="col-lg-3 col-sm-3 border-right">
            <h2>Extra's</h2>
            <a>Nieuwsbrief</a>
            <a>Annulerings verzekering</a>
            <a>Reis verzekering</a>
            <a>Algemen voorwaarden</a>
            <a>Juridische aspecten</a>
            <a>Pers en media</a>

        </div>

        <div class="col-lg-3 col-sm-3">
            <h2>Contact</h2>
            <div class="footer-block">
                <span><i class="fa fa-phone" aria-hidden="true"></i><a href="callto:0612345678"></a>0612345678 </span>                    
            </div>

            <div class="footer-block">
                <span> <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@locallife.nl"></a>info@locallife.nl</span>
            </div>           
            
            <div class="footer-block">
                <span><i class="fa fa-map-marker" aria-hidden="true"></i>Mina Krusemanerf 72</span> 
                <div class="p-l-20">
                    <span>3315 GC</span>
                    <span>Dordrecht</span>
                </div>                
            </div>
        </div>

        <div class="col-lg-1 col-sm-1"></div>

    </div>
</footer>