<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HomeMyDay</title>

<environment include="Development">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    <link rel="stylesheet" href="~/lib/foundation/dist/css/normalize.min.css">
    <link rel="stylesheet" href="~/lib/foundation/dist/css/foundation.min.css">
    <link href='~/lib/foundation/dist/css/foundation-icons.css' rel='stylesheet' type='text/css'>

    <script src="~/lib/foundation/dist/js/modernizr.min.js"></script>
    <link rel="stylesheet" href="~/css/home.css" />
</environment>
<environment exclude="Development">
    @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/lib/foundation/dist/css/normalize.min.css">
    <link rel="stylesheet" href="~/lib/foundation/dist/css/foundation.min.css">
    <link href='~/lib/foundation/dist/css/foundation-icons.css' rel='stylesheet' type='text/css'>

    <script src="~/lib/foundation/dist/js/modernizr.min.js"></script>
    <link rel="stylesheet" href="~/css/home.css" />
</environment>