<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HomeMyDay</title>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-4.0.css">
    <link rel="stylesheet" href="~/css/style.css" />

</environment>
<environment exclude="Development">
    
</environment>