<div class="container-about">
        <h3 style="text-align:center">Verlaat je comfort zone, maar blijft bij het vertrouwde. zoek, boek en ontdekt</h3>
        <div class="wrapper">
            <div id="up">
                <div class="line-left"></div>
                <div class="line-middle"></div>
                <div class="line-right"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="text-align:center">
                <div class="col-md-4"><h4><b>We</b></h4> zorgen voor de beste prijs-kwaliteit verhouding. En wij zorgen dat je binnen-komt in een schoon en veilig tijdelijk thuis</div>
                <div class="col-md-4"><h4><b>You</b></h4>Jij hoeft alleen maar te weten waar je heen wilt. Staat het niet op onze site, geen probleem, wij hebben daar een oplossing voor.</div>
                <div class="col-md-4"><h4><b>Local</b></h4>Laat je ontvangen door een warm thuis. Zij hebben de beste tips en tricks om je ervaringen onvergetelijk te maken.</div>
            </div>
        </div>
    </div>
