<meta http-equiv="refresh" content="5; url=/home/Index" />
<div>
    <h1>U bent succesvol uitgelogd.</h1>
    Over vijf seconde keert u terug naar de hoofdpagina. Zo niet? Klik <a class="hyperlink hyperlink-color" asp-controller="Home" asp-action="Index">Hier</a>
</div>