@model Holiday

<div class="col-sm-3">
    <div class="thumbnail">
        <img src="@Model.Image" alt="@Model.Description">
        <div class="caption">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
