@model Holiday

<div class="col-sm-3">
    <div class="thumbnail">
        @if (Model.Image != null)
        {
            <img src="@Model.Image" alt="@Model.Description">
        }        
        @if (Model.Description != "")
        {
            <div class="caption">
                <p>@Model.Description</p>
            </div>
        }
    </div>
</div>
