@model IEnumerable<HomeMyDay.ViewModels.ReviewViewModel>

@foreach (var p in Model)
{
    <div class="review-overview">
        <span>@p.Date</span>
        <span>@p.Name</span>
        <div>
            <p>@p.Text</p>
        </div>
    </div>
}