<div class="row text-center" id="search-terms">
    <div class="col-md-1">Local life</div>
    <div class="col-md-2" id="border">
        <p>
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <span>@Model.Search.Location</span>
        </p>
    </div>
    <div class="col-md-1" id="border">
        <label>Aankomst</label>
        <p>@Model.Search.StartDate.ToShortDateString()</p>
    </div>
    <div class="col-md-1" id="border">
        <label>Vertrek</label>
        <p>@Model.Search.EndDate.ToShortDateString()</p>
    </div>
    <div class="col-md-1" id="border">
        <label>Gasten</label>
        <p>@Model.Search.Persons</p>
    </div>
</div>