<div>
    <i class="fa fa-car" aria-hidden="true"></i>
    <p>Transfer naar luchthaven (optioneel)</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-plane" aria-hidden="true"></i>
    <p>Vliegticket heen</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-car" aria-hidden="true"></i>
    <p>Transfer naar accommodatie (optioneel)</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-home" aria-hidden="true"></i>
    <p>Prachtige accommodatie</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-car" aria-hidden="true"></i>
    <p>Transfer van accommodatie (optioneel)</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-plane" aria-hidden="true"></i>
    <p>Vliegticket terug</p>
</div>
<div class="line"></div>
<div>
    <i class="fa fa-car" aria-hidden="true"></i>
    <p>Transfer van luchthaven (optioneel)</p>
</div>