<div class="process-visual">
    <div>
        <i class="fa fa-plane" aria-hidden="true"></i>
        <p>Vliegticket heen</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>Transfer naar accommodatie (optioneel)</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-home" aria-hidden="true"></i>
        <p>Prachtige accommodatie</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>Transfer van accommodatie (optioneel)</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-plane" aria-hidden="true"></i>
        <p>Vliegticket terug</p>
    </div>
</div>
<div class="row text-center" id="process-text">
    <div class="col-md-5 the-text">
        <div class="col-md-6">
            Ook kunt u gebruik maken van ons service locallife
        </div>
        <div class="col-md-5 panel panel-primary" id="night">
            Dit is een uitje of avondje weg. Dankzij de samenwerking tussen ons en onze locals is letterlijk alles mogelijk
        </div>
    </div>
    <div class="col-md-5 col-md-offset-2 the-text">
        <div class="col-md-5 panel panel-primary" id="good">
            Goede keuze, ook volgens vele eerdere gasten. Omdat wij uw gemak en beleving willen aanbieden, geven wij daarom 10% korting op de gehele reis, bij het kiezen van het explore 2.0 pakket.
        </div>
        <div class="col-md-5">
            Wilt u all in gaan?
        </div>
    </div>
</div>