<div class="my-fancy-container">
    <div class="row seven-cols">
        <div class="col-md-1 procesicon">Col 1</div>
        <div class="col-md-1 procesicon">Col 2</div>
        <div class="col-md-1 procesicon">Col 3</div>
        <div class="col-md-1 procesicon">Col 4</div>
        <div class="col-md-1 procesicon">Col 5</div>
        <div class="col-md-1 procesicon">Col 6</div>
        <div class="col-md-1 procesicon">Col 7</div>
    </div>
</div>
