<div class="process-visual">
    <div>
        <i class="fa fa-plane" aria-hidden="true"></i>
        <p>Vliegticket heen</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>Transfer naar accommodatie (optioneel)</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-home" aria-hidden="true"></i>
        <p>Prachtige accommodatie</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>Transfer van accommodatie (optioneel)</p>
    </div>
    <div class="line"></div>
    <div>
        <i class="fa fa-plane" aria-hidden="true"></i>
        <p>Vliegticket terug</p>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-3">
        One of two columns
    </div>
    <div class="col-3">
        One of two columns
    </div>
</div>
