@model HolidaySearchViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <form class="searchForm" asp-controller="Search" asp-action="Results" method="post">
            <div class="col-md-4">
                <label class="sr-only" asp-for="Location">Waar wilt u naar toe?</label>
                <select asp-for="Location" class="form-control" required>
                    <option hidden value="">Waar wilt u naartoe?</option>
                    @foreach (Accommodation accommodation in Model.Accommodations)
                    {
                        <option value="@accommodation.Location">@accommodation.Location</option>
                    }
                </select>
            </div>
            <div class="departure-date-picker">
                <div class="col-md-2">
                    <div class="input-group date">
                        <label class="sr-only" asp-for="StartDate">Van?</label>
                        <input asp-for="StartDate" class="form-control" type="text" placeholder="Van?"  required />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group date">
                        <label class="sr-only" asp-for="EndDate">Tot?</label>
                        <input asp-for="EndDate" class="form-control" type="text" placeholder="Tot?"  required />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <label class="sr-only" asp-for="Persons">Personen?</label>
                    <input asp-for="Persons" class="form-control" placeholder="Personen?" min="1" required />
                    <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Zoeken
                </button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/search.js"></script>
