<div>
    <img class="header-image" src="~/images/pers.png" />
</div>

<div class="container">
    <h1 class="page-header">Pers pagina</h1>
    <div class="col-lg-12-offset">
        <div class="col-lg-6">
            <div>
                <h3 class="m-b-25">Laatste Nieuws</h3>
            </div>

            <div>
                <h3 class="m-b-25">Lees meer!</h3>
            </div>
            
        </div>

        <div class="col-lg-6">
            <div>
                <h3 class="m-b-25">Wil je contact met ons?</h3>

                <span class="fullwidth pull-left m-b-25 f-s-20">
                    <a href="callto:0612345678">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        0612345678
                    </a>
                </span>
                <span class="fullwidth pull-left m-b-25 f-s-17"> 
                    <a href="mailto:info@locallife.nl">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        info@locallife.nl
                    </a> 
                </span>
                <span class="fullwidth pull-left m-b-25 f-s-20"> <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Adresstraat 46</span> </span>
            </div>
        </div>        
    </div>
</div>
