$primary-color: #6482aa;
$secondary-color: #00b0f0;
$home-link-color: #ffffff;
$navbar-inverse-color: $home-link-color;
$navbar-inverse-link-color: $home-link-color;
$footer-background-color: #808080;
$border-color-1px: 1px solid #f8f8f8;
$border-color-5px: 5px solid #C0C0C0;
$searchresults-border-color: #333;
$theprocess-line-color: black;
$icon-color: #333;
$bookingconfirmation-border-color: #ccc;
$error-text-color: #a94442;
$searchresults-border-color: #D3D3D3;
$detail-block-border-color: #ddd;
$color-gray: #808080;
$navbar-inverse-border: unset;
$navbar-default-link-active-bg: transparent;