@import 'colors';
@import 'mixins';

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 200px;
    background-color: $secondary-color;
    color: $home-link-color;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: $home-link-color;
    }

    @include for-phone-only {
        position: relative;
        height: auto;
    }
}


