@import 'colors';

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: $secondary-color;
    color: $home-link-color;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: $home-link-color;
    }
}
