<div class="searchbarContainer">
    <div class="container">
        <div class="row search-bar">
            @await Component.InvokeAsync("SearchBar")
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Partials/HomeVideo.cshtml", "https://www.youtube.com/embed/1_5n1EfcWyM?autoplay=1&loop=1&controls=0&rel=0&showinfo=0")

<div class="container container-about">
    <div class="row">
        @Html.Partial("~/Views/Shared/Partials/HomeAbout.cshtml")
    </div>
</div>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("RecommendedAccommodation")
    </div>
</div>

<div id="howitworks">
    @Html.Partial("~/Views/Shared/Partials/HomeVideo.cshtml", "https://www.youtube.com/embed/j5hQrpt0Mdc?enablejsapi=1&autoplay=0&loop=1&showinfo=0&controls=0&playlist=j5hQrpt0Mdc")
</div>


<div class="container container-process mtop80">
    <div class="row" id="theprocess">
        @Html.Partial("~/Views/Shared/Partials/TheProcess.cshtml")
    </div>
</div>
